{{template "authheader" .}}
<section class="login-section p-md-25">
  <div class="cmsLogin mx-400">
    <div class="login-top mb-64">
      <h1 class="loginHeading">Change email</h1>
      <p>You will receive an OTP on your registered credentials</p>
    </div>
    <div class="login-content">
      <div class="mail-signIn mx-400">
        <form action="/otp-genrate" method="post">
          <div class="input-container mb-16">
            <input type="text" id="oldmailaddredd" name="email" class="mx-400" value="{{.member.Email}}" required />
            <label for="myInput">Old Email address</label>
          </div>
          <button class="cms-btn-dark mx-400" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {{template "authfooter" .}}