{{template "authheader" .}}

      <section class="login-section p-md-25">
        <div class="cmsLogin mx-400">
          <div class="login-top mb-64">
            <h1 class="loginHeading">Change Your email</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing</p>
          </div>
          <div class="login-content">
            <div class="mail-signIn mx-400">
              <form action="">
                <div class="input-container">
                  <input type="text" id="otp" class="mx-400"  required />
                  <label for="myInput">Enter 6 digit OTP</label>
                </div>

              
                <div class="input-container">
                    <input type="text" id="emailaddress" class="mx-400" required>
                    <label for="myInput">New Email address</label>
                </div>

                <div class="input-container">
                    <input type="text" id="confrimemail" class="mx-400" required>
                    <label for="myInput">Confirm New Email address</label>
                </div>
                <p class="signUp-Comdition mb-16">
                  Did not receive the OTP?
                  <a href="">Send again</a>
                </p>

                <button class="cms-btn-dark mx-400">Submit</button>

                <div class="account-forgot">
                  <a href="login.html" class="">Return to Login</a>
                  <a href="signup.html" class="">Don’t have an account?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{template "authfooter" .}}