{{template "authheader" .}}
<section class="login-section p-md-25">
  <div class="cmsLogin mx-400">
    <div class="login-top mb-64">
      <h1 class="loginHeading">Change email</h1>
      <p>You will receive an OTP on your registered credentials</p>
    </div>
    <div class="login-content">
      <div class="mail-signIn mx-400">
        <form id="otp-form">
          <div class="input-container mb-16" id="email-con">
            <input type="text" id="oldmailaddredd" name="email" class="mx-400" />
            <label for="myInput">Old Email address</label>
            <span class="err-txt" id="mememail" style="display: none;">
              <img src="/public/images/Icon ionic-ios-close-circle.svg" class="m-0" alt="" />please enter your old
              email</span>
          </div>
          <button class="cms-btn-dark mx-400" type="button" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
   <script src="/public/js/changeEmailOtp.js"></script> 

  {{template "authfooter" .}}