{{template "newauthheader" .}}
<form id="loginform" method="post" name="loginform" enctype="multipart/form-data" action="">
  <div class="new-login-details">
    <h3>Log Into SpurtCMS</h3>
    <p>Please sign in to your account</p>
    <div class="ig-row" id="email-con">
      <p>Email address</p>
      <input type="text" id="myInput" class="mx-400 field" placeholder="Email" name="email" required>
      <label id="myInput-error" class="error err-txt" for="myInput" style="display:none;"> <img
          src="/public/images/Icon ionic-ios-close-circle.svg" class="m-0" alt="" /> Please Enter Your Email Address
      </label>
    </div>
    <div class="ig-row password passwordEye" id="pass-con">
      <p>Password</p>
      <input type="password" id="myPassword" class="mx-400 field" placeholder="Password" name="password" required>
      <label id="myPassword-error" class="error err-txt" for="myPassword" style="display: none;">
        Please Enter Your Password </label>
      <button id="lpswdeye" class="" type="button"><img src="/public/images/MaskGroup51.svg" alt="">
        <img src="/public/images/MaskGroup54.svg" alt=""></button>
      <a href="/retrieve">Don’t remember your password?</a>
    </div>
    <div class="login-btn">
      <button type="button" id="submit">Log In</button>
      <p>Don’t have an account?
        <a href="/signup">Register here</a>
      </p>
    </div>
  </div>
  </div>
  <script src="/public/js/auth/login.js"></script>

  {{template "newauthfooter" .}}