{{template "authheader" .}}
      <section class="login-section p-md-25">
        <div class="cmsLogin mx-400">
          <div class="login-top mb-64">
            <h1 class="loginHeading">Reset Your Password</h1>
            <p>Choose a new password for username@mail.com</p>
          </div>
          <div class="login-content">
            <div class="mail-signIn mx-400">
              <form action="" name="changepasswordform"  id="changepasswordform" enctype="multipart/form-data" >
                <div class="input-container">
                  <input type="text" id="otp" name="otp" maxlength="6" class="mx-400 field" required />
                  <label for="myInput">Enter 6 digit OTP</label>
                </div>

                <div class="input-container passwordEye">
                  <input  type="password" id="mynewPassword" name="mynewPassword" class="mx-400 field" required/>
                  <label for="myInput">New Password</label>
                </div>
                <div class="input-container passwordEye signupEye">
                  <input type="password" id="confrimPassword" name="confrimPassword"  class="mx-400 field" required/>
                  <label for="myInput">Confirm New Password</label>
                </div>
                <p class="signUp-Comdition mb-16">
                  Did not receive the OTP?
                  <a href="">Send again</a>
                </p>

                <button class="cms-btn-dark mx-400">Submit</button>

                <!-- <div class="account-forgot">
                  <a href="/" class="">Return to Login</a>
                  <a href="/signup" class="">Don’t have an account?</a>
                </div> -->
              </form>
            </div>
          </div>
        </div>

        
        {{template "authfooter" .}}
