{{template "authheader" .}}
<section class="login-section p-md-25">
  <div class="cmsLogin mx-400">
    <div class="login-top mb-64">
      <h1 class="loginHeading">Retrieve Your Account</h1>
      <p>You will receive an OTP on your registered credentials</p>
    </div>
    <div class="login-content">
      <div class="mail-signIn mx-400">
        <form action="" name="forgetform" id="forgetform" method="post" enctype="multipart/form-data">
          <div class="input-container mb-16">
            <input type="text" id="email" name="email" class="mx-400 field" required />
            <label for="myInput" class="input-label">Email address</label>
            <label id="email-error" class="error err-txt" for="email" style="display: none;">
              
                Please Enter Your Email Address</label>
          </div>

          <button class="cms-btn-dark mx-400" type="button" id="submit">Submit</button>

          <div class="account-forgot">
            <a href="/" class="">Return to Login</a>
            <a href="/signup" class="">Don’t have an account?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/public/js/retrieve.js"></script>
  {{template "authfooter" .}}