{{- define "singlemain"}}
<header>
    
    <div class="ourLogo">
      <a href="/"><img src="/static/icons/MaskGroup39.svg" alt="" /></a>
    </div>
</header>

<div class="cmsLogin ">
    <div class="login-top ">
        <h1 class="loginHeading">spurtCMS Terms and Conditions
        </h1>
      
    </div>
    <div class="termsdiv">
       <h2>1. Changes to Terms:</h2>
       <p>Our Terms and Conditions may be updated without prior notice. </p>
        <p>Users automatically agree to any changes.</p>
        <h2>2. General Terms:</h2>
        <p>By downloading and using spurtCMS, you confirm your agreement to these terms.</p>
        <p>We are not liable for any direct, indirect, special, incidental, or consequential damages resulting from the use of materials on the site.

        </p>
        <p>Seek support from spurtCMS Community for the Open-Source Edition or the team of spurtCMS for any service, repair, or correction needs for the Commercial License Edition.</p>
  
        <h2>3. spurtCMS v.1.0:</h2>
        <p>spurtCMS v.1.0 is delivered electronically via GitHub.</p>
        <p>It operates under the terms of the MIT and CPAL 1.0 licenses.</p>
        <p>While freely available for personal use and customization, redistribution claiming ownership is not permitted.</p>
        <h2>4. Intimation of Changes:</h2>
        <p>Any changes to our terms of use will be communicated on this page at our discretion.</p>
        <h2>5. Customization and Paid Support:</h2>
        <p>For customization, users can request paid services by contacting <a  class="terms-link">support@spurtcms.com.</a></p>
        <p>Engagements with developers from the Community are at the user's risk.</p>
        <p>spurtCMS or the team is not liable for any damages resulting from such engagements.</p>
  
  
    </div>
</div>
{{end}}