/* input label design */
.input-container .input-label {

  position: absolute;
  top: 18px;
  left: 10px;
  color: #9F9F9F;
  font-size: 16px;
  background-color: transparent;
  font-weight: normal;
  line-height: 1;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, background-color 0.4s;
}

/*err-before*/
.error::before {
  content: '';
  background-image: url("/public/images/Iconionic-ios-close-circle.svg");
  width: 10px;
  height: 10px;
  display: inline-block;
}

/* password eye img */
.passwordEye button {
  background-color: transparent;
  width: 19px;
  height: 19px;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 16px;
}

.passwordEye button.active img:first-of-type {
  display: none;

}

.passwordEye button img:last-of-type {
  display: none;
}

.passwordEye button.active img:last-of-type {
  display: block;

}

.lft-sidebar .addnew:not(.collapsed)::after {
  content: '';
  background-image: url('/public/images/arrow-rgt-svgrepo-com (2).svg');
  background-size: 4px 8px;
  width: 4px;
  height: 8px;
  rotate: 90deg !important;

}

.lft-sidebar .accordion-header .addnew::after {
  content: '';
  background-image: url('/public/images/arrow-rgt-svgrepo-com (2).svg');
  background-size: 4px 8px;
  width: 4px;
  height: 8px;
  display: block;
}