{{- define "singlemain"}}
<header>
    
    <div class="ourLogo">
      <a href="/"><img src="/static/icons/MaskGroup39.svg" alt="" /></a>
    </div>
</header>

<div class="cmsLogin privacymain ">
    <div class="login-top  privacydiv">
        <h1 class="loginHeading">Privacy Policy
        </h1>
        <p><span class="f-500">Introduction: </span>spurtCMS ("we" or "us") is committed to ensuring your familiarity with how we collect, use, and disclose information. This Privacy Policy outlines our practices regarding information collected through our website <a href="https://spurtcms.com" target="_blank">https://spurtcms.com</a>, social media pages, and related services ("Services").</p>
      
    </div>
    <div class="privacydiv1">
        <h2>Information Collection:</h2>
       <h3>1. Customer Users:</h3>
       <p>Information about our customers' end users is handled as a service provider, governed by our agreements with customers. </p>
       
        <h3>2. Personal Information:</h3>
        <p>Includes first name, last name, email address, and country.

        </p>
        <p>Collection is necessary for providing Services; failure to provide may impact service delivery.

        </p>
        
  
        <h3>3. Collection Methods:</h3>
        <p>Through Services (e.g., newsletter sign-ups).</p>
        <h2>Use of Personal Information:</h2>
        <p>Responding to inquiries, completing transactions, and providing customer service.</p>
        <p>Sending administrative and marketing communications.</p>
        <h2>Disclosure of Personal Information:</h2>
        <p>To third-party service providers for various services.</p>
        <p>To third parties for marketing communications.</p>
        <p>Publicly on message boards and social media pages.</p>
        <h2>Other Information:</h2>
        <p>Includes browser/device information, cookies, pixel tags, and aggregated data.</p>
        <p>Collected through various methods, such as browser/device, pixel tags, and analytics.

        </p>
        <h2>Use and Disclosures of Other Information:</h2>
        <p>Used for various purposes; may be combined with Personal Information.</p>
        <p>Third-party services are not covered by this Privacy Policy.</p>
        <h2>Security:</h2>
        <p>Reasonable measures are taken to protect Personal Information.</p>
        <p>No system can guarantee 100% security.</p>
        <h2>Choices and Access:</h2>
        <h3>1. Marketing Emails:</h3>
        <p>Opt-out available for marketing emails.</p>
        <h3>2. Access and Changes:</h3>
        <p>Request changes or deletion of Personal Information.</p>
        <p>Verify identity before implementing requests.</p>
        <h2>Retention Period:
        </h2>
        <p>Personal Information retained based on ongoing relationships, legal obligations, and advisable practices.</p>
        <h2>Sensitive Information:</h2>
        <p>Do not send sensitive Personal Information through the Services.

        </p>
        <h2>Updates to the Privacy Policy:</h2>
        <p>Changes will be effective upon posting the revised Privacy Policy on the Services.</p>
        <h2>Contacting Us:</h2>
        <p>For questions, contact  <a  class="terms-link">support@spurtcms.com</a> 

        </p>
        <p>Avoid including sensitive information in email communications.</p>
  
  
    </div>
</div>
{{end}}