{{template "header" .}}
<div class="space-detail">
  <div class="tab space-tab">
    <input type="hidden" value="{{.Spaceid}}" id="spid">
    <input type="hidden" value="{{.pageid}}" id="pgid">
    {{range .Spaces}}
    <input type="hidden" value="{{.SpaceSlug}}" id="spSulg">
    <a href="/space/{{.SpaceSlug}}/{{.PageSlug}}/?spid={{.Id}}&&pageid={{.PageId}}">
      <button class="tablinks" sp-id="{{.Id}}" onclick="openCity(event, 'AccountsInDailyLife')">
        {{.SpaceName}}
      </button>
    </a>
    {{end}}
    <!-- <button class="tablinks" onclick="openCity(event, 'xx')">
      Cost Estimation
    </button>
    <button class="tablinks" onclick="openCity(event, 'yy')">
      Medicine & usage
    </button>
    <button class="tablinks" onclick="openCity(event, 'zz')">
      Engineering Department
    </button>
    <button class="tablinks" onclick="openCity(event, 'zz')">
      Engineering Business Ideas For young generation
    </button> -->
  </div>
  <!--tab-content-->
  <div id="AccountsInDailyLife" class="tabcontent" style="display: block">
    <div class="edit-div" id="search1">
      <div class="edit-div-lft">
        <a href="/">
          <img src="/public/images/arrow-lft-svgrepo-com (2).svg" alt="" /></a>

        <div class="grey-bg togglebtn" onclick="toggleNav()" data-tab-id="#demo-tab-active7">
          <img src="/public/images/Mask Group 49.svg" alt="" />
        </div>
        <h2 id="Title"></h2>
      </div>

      <div class="edit-div-rgt">
        <button class="grey-bg smText" onclick="fontReduce()" data-tab-id="#demo-tab-active1">
          <img src="/public/images/Mask Group 47.svg" alt="" />
        </button>
        <button class="grey-bg lgText" data-tab-id="#demo-tab-active2">
          <img src="/public/images/Mask Group 46.svg" alt="" />
        </button>
        <button class="grey-bg" type="btn" id="liveToastBtn" data-tab-id="#demo-tab-active3">
          <img src="/public/images/Mask Group 44.svg" alt="" />
        </button>
        <!-- <button class="grey-bg" id="pauseButton">P</button>
        <button class="grey-bg" id="resumeButton">R</button> -->
        <button class="grey-bg search-btn" data-tab-id="#demo-tab-active4">
          <img src="/public/images/Mask Group 42.svg" alt="" />
        </button>
        <button class="grey-bg" onclick="toggleNavRgt() " data-tab-id="#demo-tab-active5">
          <img src="/public/images/notes-svgrepo-com.svg" alt="" />
        </button>
        <button class="grey-bg" onclick="toggleNavRgtHigh()" data-tab-id="#demo-tab-active6">
          <img src="/public/images/Group 13.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="search-100 search2" id="search" style="display: none;">
      <img src="/public/images/Mask Group 42.svg" alt="" />
      <input type="text" placeholder="Find words" name="sname" id="search-data" />
      <div class="srch-arrow">
        <button id="down-icon">
          <img src="/public/images/arrow-down-svgrepo-com (2).svg" alt="" />
        </button>
        <button id="up-icon">
          <img src="/public/images/arrow-down-svgrepo-com (2) (1).svg" alt="" />
        </button>
        <span id="count">02 of 24</span>
      </div>
      <button class="cls-srch search-cnl">
        <img src="/public/images/close-svgrepo-com (3).svg" alt="" />
      </button>
    </div>
    <div class="sid-lft-rgt-sect">
      <div class="lft-sidebar sidenav" id="mySidenav">
        <!-- <div class="lft-sidebar"> -->
        <div class="accordion" id="accordionExample">
        </div>
      </div>

      <!--tab-center-->

      <div class="center-section content" id="centerSection">
        <div class="secton-content">

        </div>
        <!--color-picker-->

        <div class="color-picker hoverMenu" id="control">
          <div class="clrs-left">
            <span class="clr-yellow clr" color-value="yellow"></span><span class="clr-pink clr"
              color-value="pink"></span><span class="clr-green clr" color-value="green"></span><span
              class="clr-blue clr" color-value="blue"></span>
          </div>
          <div class="tst-cpy">
            <img src="/public/images/Mask Group 44.svg" class="clr" color-value="read" alt="" />
         <button id="copybtn"><img src="/public/images/copy-svgrepo-com (2).svg" alt="" /></button>
          </div>
        </div>
      </div>
      <!---tab-rgt-->
      <div class="rgt-sidebar sidenav" id="mySidenavRgt">
        <div class="note">
          <img src="/public/images/notes-svgrepo-com.svg" alt="" />
          <span>Notes</span>
        </div>

        <div class="note-content">
          <div class="save-note">
            <div class="type-content">
              <textarea id="Textarea"></textarea>
            </div>
            <div class="save-content-div" id="save-btn">
              <button class="save-btn">
                <img src="/public/images/save-svgrepo-com (1).svg" alt="" />
                <span>Save</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--tab-rgt-highlights-->
      <div class="rgt-sidebar sidenav" id="mySidenavRgtHigh">
        <div class="note">
          <img src="/public/images/Group 13.svg" alt="" />
          <span>Highlights</span>
        </div>

        <div class="note-content">
          <!-- <div class="note-content-detail">
            <h5 class="highlight-yellow select-cpy">
              Users can create and edit content easily using a user-friendly
              interface, often with WYSIWYG (What You See Is What You Get)
              editors.
            </h5>
            <span class="dd-mm-yy"> Saved on 27sep23, 06:15pm</span>
          </div>

          <div class="note-content-detail">
            <h5 class="highlight-pink select-cpy">
              Users can create and edit content easily using a user-friendly
              interface, often with WYSIWYG (What You See Is What You Get)
              editors.
            </h5>
            <span>Saved on 27sep23, 06:15pm</span>
          </div>
secton-content
          <div class="note-content-detail">
            <h5 class="highlight-blue select-cpy">
              Content is stored in a structured database, making it
              organized and searchable.
            </h5>
            <span>Saved on 27sep23, 06:15pm</span>
          </div>

          <div class="note-content-detail">
            <h5 class="highlight-green select-cpy">
              CMSs offer role-based access control, permitting multiple
              users with different levels of access and editing rights.
            </h5>
            <span>Saved on 27sep23, 06:15pm</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--toast-->

<div class="toast-btm toast-container position-fixed bottom-0 end-0">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <button type="button" data-bs-dismiss="toast" class="toast-close" aria-label="Close">
      <img src="/public/images/close-svgrepo-com (3).svg" alt="" />
    </button>
    <div class="toast-header">
      <h2>
        But content doesn’t affect just marketing — it has become a core
        part of businesses and touches almost every department, including
        sales, merchandising, and development
      </h2>
    </div>
  </div>
</div>

<!--tab-function-->
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

<!--sidebar-lft-->

<script>
  function toggleNav() {
    const sidenav = document.getElementById("mySidenav");
    const main = document.getElementById("main");

    if (sidenav.style.width === "100%") {
      sidenav.style.width = "0";
      sidenav.style.display = "none";
      sidenav.style.padding = "0";
      main.style.marginLeft = "0";
    } else {
      sidenav.style.display = "block";
      sidenav.style.width = "100%";
      // main.style.marginLeft = "100%";
    }
  }
</script>
<!--sidebar-rgt-->
<script>
  function toggleNavRgt() {
    document.getElementById("mySidenavRgtHigh").style.width = "0";
    document.getElementById("mySidenavRgtHigh").style.display = "none";
    const sidenav = document.getElementById("mySidenavRgt");
    const main = document.getElementById("main");

    if (sidenav.style.width === "100%") {
      sidenav.style.width = "0";
      sidenav.style.display = "none";

      main.style.marginLeft = "0";
    } else {
      sidenav.style.display = "block";
      sidenav.style.width = "100%";

      main.style.marginLeft = "100%";
    }
  }
</script>

<!--sidebar-high-->
<script>
  function toggleNavRgtHigh() {
    document.getElementById("mySidenavRgt").style.width = "0";
    document.getElementById("mySidenavRgt").style.display = "none";
    const sidenav = document.getElementById("mySidenavRgtHigh");

    const main = document.getElementById("main");

    if (sidenav.style.width === "100%") {
      sidenav.style.width = "0";
      sidenav.style.display = "none";
      sidenav.style.padding = "0";
      main.style.marginLeft = "0";
    } else {
      sidenav.style.width = "100%";
      sidenav.style.display = "block";
      // main.style.marginLeft = "100%";
    }
  }
</script>

<!--toast-bottom-->

<script>
  const toastTrigger = document.getElementById("liveToastBtn");
  const toastLiveExample = document.getElementById("liveToast");
  if (toastTrigger) {
    toastTrigger.addEventListener("click", () => {
      const toast = new bootstrap.Toast(toastLiveExample);

      toast.show();
    });
  }
</script>

<!---font-->

<script>
  document.querySelector(".lgText").addEventListener("click", function () {
    var font = document.querySelector(".center-section");
    font.classList.remove("smFont");
    font.classList.toggle("lgFont");
  });
</script>

<script>
  document.querySelector(".smText").addEventListener("click", function () {
    var font = document.querySelector(".center-section");
    font.classList.remove("lgFont");
    font.classList.toggle("smFont");
  });
</script>

<!-- <script src="js/bootstrap.js" type="text/javascript"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function () {
    $(".grey-bg").click(function () {
      $(this).siblings().removeClass("active");
      $(this).toggleClass("active");

      $(".demo-tab-imgs").removeClass("active");
      var tabId = $(this).attr("data-tab-id");
      $(tabId).addClass("active");
    });
  });
</script>

<!--select-->

<!--select show rgt-->

<!-- <script>
      // Attach a mouseup event handler to the #centerSection
      document
        .querySelector("#centerSection")
        .addEventListener("mouseup", function () {
          // Get the selected text
          const selectedText = getSelectedText();

          // Wrap the selected text within a <span> element to apply background color
          const highlightedText = `<span class="highlighted">${selectedText}</span>`;

          // Add the highlighted text to the "selected-text" element
          document.querySelector(".select-cpy").innerHTML += highlightedText;

          // Get the parent paragraph of the selected text
          const paragraph = getParentParagraph();

          // Replace the selected text with the highlighted text within the paragraph
          replaceSelectedText(paragraph, highlightedText);

          // Display the formatted date and time
          const formattedDatetime = formatDatetime(new Date());
          document.querySelector(
            ".dd-mm-yy"
          ).textContent = `Saved on ${formattedDatetime}`;
        });

      // Function to get the selected text
      function getSelectedText() {
        const selection = window.getSelection();
        return selection.toString();
      }

      // Function to get the parent paragraph of the selected text
      function getParentParagraph() {
        const selection = window.getSelection();
        const anchorNode = selection.anchorNode;
        return anchorNode.nodeType === Node.ELEMENT_NODE
          ? anchorNode
          : anchorNode.parentElement;
      }

      // Function to replace the selected text with the highlighted text within the paragraph
      function replaceSelectedText(paragraph, highlightedText) {
        const selection = window.getSelection();
        const range = selection.getRangeAt(0);
        range.deleteContents();
        range.insertNode(
          document.createRange().createContextualFragment(highlightedText)
        );
      }

      // Function to format the date and time
      function formatDatetime(date) {
        const day = date.getDate();
        const month = date.toLocaleString("default", { month: "short" });
        const year = date.getFullYear();
        const hours = date.getHours();
        const minutes = date.getMinutes();
        const ampm = hours >= 12 ? "pm" : "am";

        // Adjust hours to 12-hour format
        const formattedHours = hours % 12 || 12;

        // Format the date and time
        return `${day}${month}${year.toString().slice(-2)}, ${formattedHours}:${
          (minutes < 10 ? "0" : "") + minutes
        }${ampm}`;
      }

      // Add event listeners to the color change buttons
      document
        .querySelector(".clr-yellow")
        .addEventListener("click", function () {
          document.querySelectorAll(".highlighted").forEach(function (element) {
            element.style.backgroundColor = "rgba(255, 215, 82, 0.2)";
          });
        });

      document
        .querySelector(".clr-green")
        .addEventListener("click", function () {
          document.querySelectorAll(".highlighted").forEach(function (element) {
            element.style.backgroundColor = "rgba(77, 200, 142, 0.2)";
          });
        });

      document
        .querySelector(".clr-pink")
        .addEventListener("click", function () {
          document.querySelectorAll(".highlighted").forEach(function (element) {
            element.style.backgroundColor = "rgb(247, 156, 156, 0.2)";
          });
        });

      document
        .querySelector(".clr-blue")
        .addEventListener("click", function () {
          document.querySelectorAll(".highlighted").forEach(function (element) {
            element.style.backgroundColor = " rgba(106, 171, 250, 0.2)";
          });
        });
    </script>
   -->
<script src="/public/js/spaceview/pages.js"></script>
</body>

</html>