{{template "header" .}}

    <div class="space-detail">
      <div class="tab space-tab">
        <button
          class="tablinks active"
          onclick="openCity(event, 'AccountsInDailyLife')"
        >
          Accounts in daily life
        </button>
        <button class="tablinks" onclick="openCity(event, 'xx')">
          Cost Estimation
        </button>
        <button class="tablinks" onclick="openCity(event, 'yy')">
          Medicine & usage
        </button>
        <button class="tablinks" onclick="openCity(event, 'zz')">
          Engineering Department
        </button>
        <button class="tablinks" onclick="openCity(event, 'zz')">
          Engineering Business Ideas For young generation
        </button>
      </div>
      <!--tab-content-->
      <div id="AccountsInDailyLife" class="tabcontent" style="display: block">
        <div class="search-100" id="search">
          <img src="/public/images/Mask Group 42.svg" alt="" />
          <input type="text" placeholder="Find words" name="sname" />
          <div class="srch-arrow">
            <button>
              <img src="/public/images/arrow-down-svgrepo-com (2).svg" alt="" />
            </button>
            <button>
              <img src="/public/images/arrow-down-svgrepo-com (2) (1).svg" alt="" />
            </button>
            <span>02 of 24</span>
          </div>
          <button class="cls-srch">
            <img src="/public/images/close-svgrepo-com (3).svg" alt="" />
          </button>
        </div>

        <div class="sid-lft-rgt-sect">
          <div class="lft-sidebar sidenav" id="mySidenav">
            <!-- <div class="lft-sidebar"> -->
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>

              <!--2-->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne2">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne2"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne2"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>

              <h5 class="gry-txt">SINGLE PAGE APPLICATIONS</h5>

              <!--3-->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne3">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne3"
                    aria-expanded="flase"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne3"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>

              <!--4-->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne4">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne4"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne4"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>

              <!--5-->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne5">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne5"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne5"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>

              <!--6-->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne6">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne6"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne6"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>

              <!--7-->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne7">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne7"
                    aria-expanded="flase"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne7"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>

              <!--8-->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne8">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne8"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne8"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>

              <!--9-->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne9">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne9"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    What Is a Content Management System and How Does It Work?
                  </button>
                </h2>
                <div
                  id="collapseOne9"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>What Is a Single Page Application?</p>
                    <p>
                      What Is Single Page Application Arc? How Does It Work?
                    </p>
                    <p>Advantages of Single Page Applications</p>
                    <p>A Single-time File Load Each For HTML, CSS, JS</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--tab-center-->

          <div class="center-section m-16">
            <div class="secton-content">
              <h3>What Is a Content Management System and How Does It Work</h3>
              <p class="">
                Content is becoming one of the main ways businesses interact
                with their customers. Gone are the days when companies could
                regard content as a "nice to have" on the side.
              </p>
              <p class="">
                But content doesn’t affect just marketing — it has become a core
                part of businesses and touches almost every department,
                including sales, merchandising, and development.
              </p>
              <p class="">
                And yet, 42% of companies indicated they don’t have the right
                technology to manage their content.
              </p>
              <p class="srch-highlight">
                This is where a content management system (CMS) comes into play.
              </p>
              <p>
                A content management system helps you implement a comprehensive
                content marketing strategy and weave content into your commerce
                strategy.
              </p>
              <p>
                At the same time, your developers won’t be involved in the
                process of publishing content and can easily make changes in the
                back end without disrupting content publication. This means your
                web pages can have fresh content on them without having to
                consistently exhaust your IT team.
              </p>
            </div>

            <div class="">
              <h3>What Is a Content Management System?</h3>
              <p>
                Content is becoming one of the main ways businesses interact
                with their customers. Gone are the days when companies could
                regard content as a "nice to have" on the side.
              </p>
              <p>
                But content doesn’t affect just marketing — it has become a core
                part of businesses and touches almost every department,
                including sales, merchandising, and development.
              </p>
              <p>
                And yet, 42% of companies indicated they don’t have the right
                technology to manage their content.
              </p>
              <p>
                This is where a content management system (CMS) comes into play.
              </p>
              <p>
                A content management system helps you implement a comprehensive
                content marketing strategy and weave content into your commerce
                strategy.
              </p>
              <p>
                At the same time, your developers won’t be involved in the
                process of publishing content and can easily make changes in the
                back end without disrupting content publication. This means your
                web pages can have fresh content on them without having to
                consistently exhaust your IT team.
              </p>
            </div>
          </div>

          <!---tab-rgt-->

          <div class="rgt-sidebar sidenav" id="mySidenavRgt">
            <div class="note">
              <img src="/public/images/notes-svgrepo-com.svg" alt="" />
              <span>Notes</span>
            </div>

            <div class="note-content">
              <div class="note-content-detail">
                <h5>
                  Users can create and edit content easily using a user-friendly
                  interface, often with WYSIWYG (What You See Is What You Get)
                  editors.
                </h5>
                <span>Saved on 27sep23, 06:15pm</span>
              </div>

              <div class="note-content-detail">
                <h5>
                  Users can create and edit content easily using a user-friendly
                  interface, often with WYSIWYG (What You See Is What You Get)
                  editors.
                </h5>
                <span>Saved on 27sep23, 06:15pm</span>
              </div>

              <div class="note-content-detail">
                <h5>
                  Content is stored in a structured database, making it
                  organized and searchable.
                </h5>
                <span>Saved on 27sep23, 06:15pm</span>
              </div>

              <div class="note-content-detail">
                <h5>
                  CMSs offer role-based access control, permitting multiple
                  users with different levels of access and editing rights.
                </h5>
                <span>Saved on 27sep23, 06:15pm</span>
              </div>
            </div>

            <div class="save-note">
              <div class="type-content">
                <p>
                  Users can create and edit content easily using a user-friendly
                  interface, often with WYSIWYG (What You See Is What You Get)
                  editors.
                </p>
              </div>
              <div class="save-content-div">
                <button class="save-btn">
                  <img src="/public/images/arrow-lft-svgrepo-com (2).svg" alt="" />
                  <span>Save</span>
                </button>
              </div>
            </div>
          </div>

          <!--tab-rgt-highlights-->
          <div class="rgt-sidebar sidenav" id="mySidenavRgtHigh">
            <div class="note">
              <img src="/public/images/Group 13.svg" alt="" />
              <span>Highlights</span>
            </div>

            <div class="note-content">
              <div class="note-content-detail">
                <h5>
                  Users can create and edit content easily using a user-friendly
                  interface, often with WYSIWYG (What You See Is What You Get)
                  editors.
                </h5>
                <span>Saved on 27sep23, 06:15pm</span>
              </div>

              <div class="note-content-detail">
                <h5>
                  Users can create and edit content easily using a user-friendly
                  interface, often with WYSIWYG (What You See Is What You Get)
                  editors.
                </h5>
                <span>Saved on 27sep23, 06:15pm</span>
              </div>

              <div class="note-content-detail">
                <h5>
                  Content is stored in a structured database, making it
                  organized and searchable.
                </h5>
                <span>Saved on 27sep23, 06:15pm</span>
              </div>

              <div class="note-content-detail">
                <h5>
                  CMSs offer role-based access control, permitting multiple
                  users with different levels of access and editing rights.
                </h5>
                <span>Saved on 27sep23, 06:15pm</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--toast-->

    <div class="toast-btm toast-container position-fixed bottom-0 end-0">
      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <button
          type="button"
          data-bs-dismiss="toast"
          class="toast-close"
          aria-label="Close"
        >
          <img src="/public/images/close-svgrepo-com (3).svg" alt="" />
        </button>
        <div class="toast-header">
          <h2>
            But content doesn’t affect just marketing — it has become a core
            part of businesses and touches almost every department, including
            sales, merchandising, and development
          </h2>
        </div>
      </div>
    </div>

    <!--tab-function-->
    <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>

    <!--sidebar-lft-->

    <script>
      function toggleNav() {
        const sidenav = document.getElementById("mySidenav");
        const main = document.getElementById("main");

        if (sidenav.style.width === "100%") {
          sidenav.style.width = "0";
          sidenav.style.display = "none";
          sidenav.style.padding = "0";
          main.style.marginLeft = "0";
        } else {
          sidenav.style.display = "block";
          sidenav.style.width = "100%";
          main.style.marginLeft = "100%";
        }
      }
    </script>
    <!--sidebar-rgt-->
    <script>
      function toggleNavRgt() {
        document.getElementById("mySidenavRgtHigh").style.width = "0";
        document.getElementById("mySidenavRgtHigh").style.display = "none";
        const sidenav = document.getElementById("mySidenavRgt");
        const main = document.getElementById("main");

        if (sidenav.style.width === "100%") {
          sidenav.style.width = "0";
          sidenav.style.display = "none";

          main.style.marginLeft = "0";
        } else {
          sidenav.style.display = "block";
          sidenav.style.width = "100%";

          main.style.marginLeft = "100%";
        }
      }
    </script>

    <!--sidebar-high-->
    <script>
      function toggleNavRgtHigh() {
        document.getElementById("mySidenavRgt").style.width = "0";
        document.getElementById("mySidenavRgt").style.display = "none";
        const sidenav = document.getElementById("mySidenavRgtHigh");

        const main = document.getElementById("main");

        if (sidenav.style.width === "100%") {
          sidenav.style.width = "0";
          sidenav.style.display = "none";
          sidenav.style.padding = "0";
          main.style.marginLeft = "0";
        } else {
          sidenav.style.width = "100%";
          sidenav.style.display = "block";
          main.style.marginLeft = "100%";
        }
      }
    </script>

    <!--toast-bottom-->

    <script>
      const toastTrigger = document.getElementById("liveToastBtn");
      const toastLiveExample = document.getElementById("liveToast");
      if (toastTrigger) {
        toastTrigger.addEventListener("click", () => {
          const toast = new bootstrap.Toast(toastLiveExample);

          toast.show();
        });
      }
    </script>

    <script>
      function searchTab() {
        document.getElementById("mySidenavRgtHigh").style.width = "0";
        const sidenav = document.getElementById("search");
        const main = document.getElementById("main");

        if (sidenav.style.width === "100%") {
          sidenav.style.width = "0";

          main.style.marginLeft = "0";
          sidenav.style.display = "none";
        } else {
          sidenav.style.display = "flex";
          sidenav.style.width = "100%";

          main.style.marginLeft = "100%";
        }
      }
    </script>

    <!--input-search-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
      $("input[name='sname']").keyup(function () {
        $(".srch-arrow").addClass("div-show");
        $(".reset-inpt").attr("type", "reset");
      });
    </script>
  </body>
</html>
